@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 10 10 10;
    --color-surface: 20 20 20;
    --color-surface-highlight: 30 30 30;
    --color-primary: 139 92 246;
    --color-primary-hover: 124 58 237;
    --color-secondary: 6 182 212;
    --color-accent: 244 63 94;
    --color-text: 250 250 250;
    --color-text-secondary: 161 161 170;
    --color-border: 39 39 42;
  }

  [data-theme='aqua'] {
    --color-background: 6 17 24;
    --color-surface: 12 29 38;
    --color-surface-highlight: 19 43 54;
    --color-primary: 34 211 238;
    --color-primary-hover: 6 182 212;
    --color-secondary: 45 212 191;
    --color-accent: 251 146 60;
    --color-text: 236 254 255;
    --color-text-secondary: 148 163 184;
    --color-border: 37 99 115;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-text antialiased;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-surface;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-surfaceHighlight rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
